In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import seaborn as sns
from datetime import datetime

In [3]:
#Import data
df = pd.read_csv(os.path.join("C:\\Users\\kam52\\OneDrive\\Desktop\\DA1\\Earthquakes\\1Qtr_EQ.csv"), parse_dates=['time'], usecols = ['time', 'depth', 'mag', 'place'])
df

,time,depth,mag,place
0,2022-03-31 23:47:44.170000+00:00,5.77,2.50,"6 km ESE of La Parguera, Puerto Rico"
1,2022-03-31 23:32:34.458000+00:00,10.00,4.60,southeast of the Loyalty Islands
2,2022-03-31 23:18:16.617000+00:00,10.00,5.20,"252 km NW of Kiunga, Papua New Guinea"
3,2022-03-31 23:13:42.735000+00:00,10.00,4.40,southeast of the Loyalty Islands
4,2022-03-31 23:13:07.561000+00:00,10.00,4.20,"44 km NNE of Bazar-Korgon, Kyrgyzstan"
...,...,...,...,...
7015,2022-01-01 02:17:56.815000+00:00,105.79,4.20,"74 km NW of Murghob, Tajikistan"
7016,2022-01-01 01:38:57.636000+00:00,10.00,3.10,"194 km SE of Akutan, Alaska"
7017,2022-01-01 00:27:51.990000+00:00,19.08,2.88,"12km SSW of Ferndale, CA"
7018,2022-01-01 00:10:28.735000+00:00,104.90,4.10,"48 km N of Pante Makasar, Timor Leste"
7019,2022-01-01 00:02:24.512000+00:00,60.87,4.60,"126 km SSW of Hihifo, Tonga"

In [4]:
#To check data types
df.dtypes

time     datetime64[ns, UTC]
depth                float64
mag                  float64
place                 object
dtype: object

In [5]:
#To check data file type
type(df)

pandas.core.frame.DataFrame

In [6]:
#To copy datafile to work with
df2 = df.copy()
print(df2)

                                 time   depth   mag  \
0    2022-03-31 23:47:44.170000+00:00    5.77  2.50
1    2022-03-31 23:32:34.458000+00:00   10.00  4.60
2    2022-03-31 23:18:16.617000+00:00   10.00  5.20
3    2022-03-31 23:13:42.735000+00:00   10.00  4.40
4    2022-03-31 23:13:07.561000+00:00   10.00  4.20
...                               ...     ...   ...
7015 2022-01-01 02:17:56.815000+00:00  105.79  4.20
7016 2022-01-01 01:38:57.636000+00:00   10.00  3.10
7017 2022-01-01 00:27:51.990000+00:00   19.08  2.88
7018 2022-01-01 00:10:28.735000+00:00  104.90  4.10
7019 2022-01-01 00:02:24.512000+00:00   60.87  4.60

                                      place
0      6 km ESE of La Parguera, Puerto Rico
1          southeast of the Loyalty Islands
2     252 km NW of Kiunga, Papua New Guinea
3          southeast of the Loyalty Islands
4     44 km NNE of Bazar-Korgon, Kyrgyzstan
...                                     ...
7015        74 km NW of Murghob, Tajikistan
7016            194 km SE of Akutan, Alaska
7017               12km SSW of Ferndale, CA
7018  48 km N of Pante Makasar, Timor Leste
7019            126 km SSW of Hihifo, Tonga

[7020 rows x 4 columns]

In [7]:
#To check copied file
df2.dtypes

time     datetime64[ns, UTC]
depth                float64
mag                  float64
place                 object
dtype: object

In [8]:
#To check copied file
type(df2)

pandas.core.frame.DataFrame

In [9]:
#To seperate date and time
df2['date'] = [d.date() for d in df2['time']]
df2['time'] = [d.time() for d in df2['time']]
df2

,time,depth,mag,place,date
0,23:47:44.170000,5.77,2.50,"6 km ESE of La Parguera, Puerto Rico",2022-03-31
1,23:32:34.458000,10.00,4.60,southeast of the Loyalty Islands,2022-03-31
2,23:18:16.617000,10.00,5.20,"252 km NW of Kiunga, Papua New Guinea",2022-03-31
3,23:13:42.735000,10.00,4.40,southeast of the Loyalty Islands,2022-03-31
4,23:13:07.561000,10.00,4.20,"44 km NNE of Bazar-Korgon, Kyrgyzstan",2022-03-31
...,...,...,...,...,...
7015,02:17:56.815000,105.79,4.20,"74 km NW of Murghob, Tajikistan",2022-01-01
7016,01:38:57.636000,10.00,3.10,"194 km SE of Akutan, Alaska",2022-01-01
7017,00:27:51.990000,19.08,2.88,"12km SSW of Ferndale, CA",2022-01-01
7018,00:10:28.735000,104.90,4.10,"48 km N of Pante Makasar, Timor Leste",2022-01-01
7019,00:02:24.512000,60.87,4.60,"126 km SSW of Hihifo, Tonga",2022-01-01

In [12]:
# To rearrange columns for use
print(df2)

                  time   depth   mag  \
0      23:52:07.457000   10.00  4.10
1      22:23:44.855000   10.00  5.00
2      22:17:29.586000  531.95  4.50
3      21:54:33.450000   31.00  3.53
4      20:58:13.747000   10.00  4.20
...                ...     ...   ...
11534  02:17:56.815000  105.79  4.20
11535  01:38:57.636000   10.00  3.10
11536  00:27:51.990000   19.08  2.88
11537  00:10:28.735000  104.90  4.10
11538  00:02:24.512000   60.87  4.60

                                                   place        date
0                                26 km ENE of K?sh, Iran  2022-06-15
1                          Volcano Islands, Japan region  2022-06-15
2                              south of the Fiji Islands  2022-06-15
3      32 km NNW of Charlotte Amalie, U.S. Virgin Isl...  2022-06-15
4                                28 km ENE of K?sh, Iran  2022-06-15
...                                                  ...         ...
11534                    74 km NW of Murghob, Tajikistan  2022-01-01
11535                        194 km SE of Akutan, Alaska  2022-01-01
11536                           12km SSW of Ferndale, CA  2022-01-01
11537              48 km N of Pante Makasar, Timor Leste  2022-01-01
11538                        126 km SSW of Hihifo, Tonga  2022-01-01

[11539 rows x 5 columns]

In [11]:
#Smaller data set to be discarded if not used
#may = pd.read_csv(os.path.join("C:\\Users\\kam52\\OneDrive\\Desktop\\DA1\\Project\\may_EQ.csv"))
#may